# =========================
# Python & Environment Junk
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# Environments (CRITICAL: Keeps massive libraries out of GitHub)
.env
.venv
env/
venv/
ENV/

# =========================
# Jupyter Notebooks
# =========================
.ipynb_checkpoints/
profile_default/
ipython_config.py

# =========================
# Testing & Type Checking
# =========================
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
.pytest_cache/
.mypy_cache/

# =========================
# OS & IDE System Files
# =========================
.DS_Store
.AppleDouble
Thumbs.db
Desktop.ini
.idea/
.vscode/

# =========================
# YOLO / Deep Learning Specific
# =========================
# Ignore downloaded YOLO weights so you don't upload massive models
*.pt
*.weights
# Ignore roboflow/YOLO dataset downloads (should be downloaded  via code, not push them to GitHub)
datasets/
runs/
